@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../components/button" as *;

#contact {
  min-height: 100vh;
  margin-bottom: -4rem;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 90%,
    0 90%
  ); //workaround, I know... xD

  .title-border {
    margin-bottom: 4rem;
  }
}

.contact-form {
  &__name,
  &__email {
    font-size: 2rem;
    max-width: 65%;
    margin-bottom: 1.5rem;
  }
}
.contact-form__message {
  min-width: 95%;
  min-height: 10rem;
}

label {
  margin-bottom: 0.5rem;
  display: block;
  min-width: 7rem;
  text-align: left;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  border-bottom: 0.15rem solid $secondary-color;
  color: white;
  overflow: hidden;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  outline: none;
}

.submit {
  margin-bottom: 6rem;
  font-weight: 700;
  min-width: 30%;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 775px) {
  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-form__message {
    min-height: 12rem;
  }
}
