@use "../abstracts/variables" as *;
@use "../components/button" as *;

.hero-image {
  background-image: url(../assets/images/background-image.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  filter: brightness(130%);
  border-bottom: 0.2rem solid $primary-nav;

  &__overlay {
    background: linear-gradient(
      306deg,
      rgba(3, 3, 3, 0.922) 0%,
      rgba(49, 49, 49, 0.936) 75%,
      rgba(88, 88, 88, 0.7875525210084033) 90%
    );
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
  }
}

.hero-text {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    margin: 1rem;
    font-size: 4rem;
  }

  h3 {
    margin: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 313px) {
  .hero-text h1 {
    font-size: 15vw;
  }
}
