@font-face {
    font-family: 'Lexend Deca';
    src: url("../assets/fonts/LexendDeca-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Lexend Deca';
    src: url("../assets/fonts/LexendDeca-Bold.ttf") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: 'Lexend Deca';
    src: url("../assets/fonts/LexendDeca-Black.ttf") format("truetype");
    font-weight: 900;
  }
  