$accent-color: rgb(3, 250, 110);

$secondary-color: #acacac;

$primary-nav: rgb(53,56,63);
$secondary-nav: rgb(32, 33, 36);
$hover-nav-color: #3d4047;

$border: rgb(34, 34, 34);
$background-color: #242424;